h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
    row-gap: 4rem;
    margin: 150px auto;
    margin-bottom: 6rem;
    max-width: 70%;
}

.hero {
    background: url(../assets/images/flag.jpeg) fixed center;
    height: 400px;
    padding-bottom: 100px;
}

.hero img {
}

.partyColor {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.democrat {
    background-color: #232066;
}

.republican {
    background-color: #983D3D;
}

.independent {
    background-color: #4c516d;
}

.votes {
    justify-content: space-between;
}

