/* VARIABLES, FONT, ETC */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }

:root {
    --green:#81bf63;
    --gray: #444;
    --blue: #5784C2;
}

html {
    color: white;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: var(--green);
    font-size: 1rem;
    margin-top: 0;
}

/* NAVIGATION */
#navbar {
    display: block;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    padding-left: 0;
}

#navbar ul li img {
    height: 50px;
}

#navbar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    font-size: .75rem;
    height: 40px;
    width: 70px;
    color: grey;
}

/* BODY */
body {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.intro {
    padding-bottom: 100px;
    padding-top: 200px;
    text-align: center;
}

.intro img {
    height: 250px;
    clip-path: circle(100px at 124px 110px);
}

.skills {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding-bottom: 50px;
}

.skills ul {
    padding-left: 0;
}

.skills li {
    list-style-type: none;
}

.projects {
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1542831371-32f555c86880?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-overlay {
    background: rgba(196, 196, 196, 0.075);
    height: 100vh;
    /* padding-bottom: 150px; */
}

.projects h2 {
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 100px;
}

.bar {
    width: 35%;
    margin-bottom: 40px;
    margin-top: 0px;
}

/* PROJECT SECTION */
.project-grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1500px;
    grid-template-rows: auto auto;
    column-gap: 30px;
    row-gap: 10px;
    grid-template-areas: 
        "a b c"
        "d e f";
}

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}
.f {grid-area: f;}

.favorites {
    background-color: var(--green);
    text-align: center;
    height: 100vh;
}

.favorites h2 {
    margin: 0;
    padding-top: 50px;
}

.favorites div {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    row-gap: 50px;
    display: flex;
}

.box img {
    width: 200px;
}

.favorites .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box a {
    padding-bottom: 25px;
}

/* CONTACT */
.contact {
    background-color: var(--gray);
    height: 100vh;
}

.contact a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.contact-links a {
    font-size: 2rem;
}

.fa {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
}

.btn:hover {
    color: var(--green);
}

@media (max-width: 680px) {
    
    .projects-section-header {
      font-size: 4rem;
    }

    .project-grid {
        text-align: center;
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: 100%;
        column-gap: 0px;
        row-gap: 30px;
        grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
    }
    
    .a {grid-area: a;}
    .b {grid-area: b;}
    .c {grid-area: c;}
    .d {grid-area: d;}
    .e {grid-area: e;}
    .f {grid-area: f;}

  }


/* PROJECT SECTION */
.container{
padding: 1em 0;
width: 100%;
}

.content {
position: relative;
width: 100%;
max-width: 400px;
margin: auto;
overflow: hidden;
}

.content .content-overlay {
background: rgba(0,0,0,0.7);
position: absolute;
height: 96%;
width: 100%;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0;
-webkit-transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 0.7em;
}

.fadeIn-left{
    left: 20%;
}