/* VARIABLES, FONT, ETC */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }

:root {
    --green:#81bf63;
    --gray: #444;
    --blue: #5784C2;
}

html {
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: var(--green);
    font-size: 1rem;
    margin-top: 0;
}

/* NAVIGATION */
#navbar {
    display: block;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: var(--green);
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
}

#navbar ul :hover {
    background-color: #666;
}

#navbar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    font-size: 1rem;
    height: 40px;
    width: 70px;
}

/* BODY */
body {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: black;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.intro {
    padding-bottom: 100px;
    padding-top: 200px;
    text-align: center;
}

.intro img {
    height: 250px;
    clip-path: circle(100px at 124px 110px);
}

.skills {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding-bottom: 50px;
}

.skills ul {
    padding-left: 0;
}

.skills li {
    list-style-type: none;
}

.projects {
    text-align: center;
    background-color: var(--blue);
    padding: 4rem 2rem;
    font-size: 1.5rem;
}

.projects h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 2vh 0 40px 0;
}

.bar {
    width: 35%;
    margin-bottom: 40px;
    margin-top: 0px;
}

.project-grid {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1280px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    justify-content: space-between; 
    column-gap: 30px;
    row-gap: 20px;
    grid-template-areas: 
        "a b c"
        "d e f";
}

.project-grid a {
    background-color: #555;
}
.project-grid img {
    width: 100%;
}

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}
.f {grid-area: f;}

.projectTitle {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px 0;
    width: 100%;
}

.favorites {
    background-color: var(--green);
    text-align: center;
    /* height: 100vh; */
}

.favorites h2 {
    margin: 0;
    padding-top: 50px;
}

.favorites div {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    row-gap: 50px;
    display: flex;
}

.box img {
    width: 200px;
}

.favorites .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box a {
    padding-bottom: 25px;
}


.contact {
    background-color: var(--gray);
    height: 100vh;
}

.contact a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.contact-links a {
    font-size: 2rem;
}

.fa {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
}

@media (max-width: 680px) {
    
    .projects-section-header {
      font-size: 4rem;
    }

    .project-grid {
        text-align: center;
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: 100%;
        column-gap: 0px;
        row-gap: 30px;
        grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
    }
    
    .a {grid-area: a;}
    .b {grid-area: b;}
    .c {grid-area: c;}
    .d {grid-area: d;}
    .e {grid-area: e;}
    .f {grid-area: f;}

  }

